@model Library_Managment_System.View_Model.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Change Password</h2>
        <form asp-action="SaveChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.UserName != null)
            {
                <input type="hidden" asp-for="UserName" />
            }
            else
            {
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">User Name</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            }

            
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-success w-100 p-2" />
            <div class="text-center mt-2">
                <a asp-controller="Book" asp-action="Index" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
