@model Library_Managment_System.View_Model.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Forgot Password</h2>

        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                @* <input asp-for="Email" class="form-control" /> *@
                <input asp-for="Email" class="form-control" name="Email" />

                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <input type="submit" value="Send Reset Link" class="btn btn-success w-100 p-2" />

            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="LogIn" class="text-decoration-none">Back to login</a>
            </div>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success mt-3">
                    @ViewBag.Message
                </div>
            }

            @if (ViewBag.ResetLink != null)
            {
                <div class="alert alert-info mt-3">
                    <strong>🔗 Reset Password Link (للتجربة):</strong><br />
                    <a href="@ViewBag.ResetLink" target="_blank">@ViewBag.ResetLink</a>
                </div>
            }

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
