
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library_Managment_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Library_Managment_System.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />

</head>
<body class="d-flex flex-column min-vh-100">

    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <h1 class="navbar-brand">Library System</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Borrow" asp-action="Index">Borrow Books</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Book" asp-action="Index">Books</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Member" asp-action="Index">Members</a>
                            </li>
                         

                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown">
                                        Admin Panel
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Register User</a></li>
                                        
                                        <li><a class="dropdown-item" asp-controller="Roles" asp-action="Index">Show Roles</a></li>
                                        <li><a class="dropdown-item" asp-controller="Roles" asp-action="AssignRole">Assign Role</a></li>
                                        <li><a class="dropdown-item" asp-controller="Roles" asp-action="UsersWithRoles">Users With Roles</a></li>
                                    </ul>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="ChangePassword" asp-route-UserName="@User.Identity.Name">Change Password</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-controller="Account" asp-action="SignOut">Sign Out</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="logIn">Log In</a>
                            </li>
                            
                        }
                       
                    </ul>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="navbar-text text-muted me-2">
                            👤 @User.Identity.Name
                        </span>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer  mt-auto py-3">
        <div class="container text-center">
            &copy; 2025 - Library_Managment_System - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

